body {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.page-heading {
    font-size: 30px;
    color: #445161;
    display: block;
    text-align: center;
}

/* header */

.page-header {
    width: 100%;
    background-color: #445161;
    color: #fff;
}

.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.page-header-wrp {
    float: left;
}

.page-header-title {
    display: block;
    margin: 0 0 26px 0;
    font-size: 60px;
}

.page-header-list {
    margin: 0;
    list-style: none;
}

.page-header-list-item {
    font-size: 20px;
    line-height: 32px;
    position: relative;
}

.page-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check-icon.png);
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -36px;
}

.page-header-pic {
    display: block;
    width: 470px;
    height: 213px;
    float: right;
    object-fit: scale-down;
}

/* about your product section */

.content {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.about-product-heading {
    text-align-last: left;
    margin: 0 0 25px 0;
}

.about-product-text {
    margin: 18px 0 0 0;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrp {
    width: 670px;
    float: left;
}

.about-product-video {
    display: block;
    float: right;
    object-fit: cover;
}

/* dignity section */

.dignity {
    background-color: #f5f5f5;
}

.dignity-heading {
    margin: 0 0 25px 0;
}

.dignity-items-left-wrp {
    width: 50%;
    float: left;
}

.dignity-items-right-wrp {
    width: 50%;
    float: right;
}

.dignity-item {
    min-height: 68px;
    margin: 0 0 30px 0;
 }

 .dignity-item:nth-child(3) {
     margin: 0;
 }

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

details summary::-webkit-details-marker {
    display: none;
}

.dignity-item-summary {
    outline-style: none;
    list-style: none;
    display: block;
    position: relative;
    cursor: pointer;
}

.dignity-item-summary:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 3px;
    left: 1px;
}

details[open] summary:before {
    content: "-";
}

.dignity-item-text {
    margin: 0 0 0 40px;
}

/* screenshots section */

.screenshots {
    width: 100%;
    min-height: 485px;
}

.screenshots-heading {
    margin: 0 0 30px 0;
}

.screenshots:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots-item {
    width: 49%;
    margin: 0 0 30px 0;
    float: left;
}

.screenshots-item:nth-child(3),
.screenshots-item:nth-child(5) {
    float: right;
}

.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
    margin: 0;
}

.screenshots-item:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots-item-img {
    display: block;
    width: 200px;
    height: 150px;
    float: left;
    margin: 0 10px 0 0;
    object-fit: cover;
}

.screenshots-item-description {
    margin: 0;
}

.screenshots-item-description-heading {
    display: block;
    font-size: 24px;
    color: #445161;
}

.screenshots-item-description-text {
    margin: 14px 0 0 0;
}

/* reviews section */

.reviews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.reviews-heading {
    width: 100%;
    margin: 0 0 20px 0;
}

.reviews-item {
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 22px 0;
}

.reviews-item:nth-child(4),
.reviews-item:nth-child(5) {
    margin: 0;
}

.reviews-item-img {
    margin: 0;
}

.reviews-item-photo {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
   
}

.reviews-item-text {
    width: 82%;
    margin: 0;
    background-color: #ebebeb;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    position: relative;
}

.reviews-item-text:before {
    content: "";
    display: block;
    border: 13px solid transparent;
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 25px;
    left: -25px;
}

.reviews-item-text-author {
    display: block;
    margin: 10px 0 0 0;
    font-style: normal;
    color: #989898;
}

/* buy section */

.buy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;   
}

.buy-heading {
    width: 100%;
    margin: 0 0 20px 0;
}

.buy-item {
    width: 300px;
    background-color: #445161;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #445161;
    padding: 0 0 20px 0;
    margin: 0 22px;
    box-sizing: border-box;
}

.buy-item-title {
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 24px;
    text-transform: capitalize;   
}

.buy-item-price {
    display: block;
    width: 100%;
    background-color: #fff;
    font-size: 40px;
    color: #445161;
    padding: 15px;
    box-sizing: border-box;
}

.buy-item-list {
    text-align: left;
    list-style-position: inside;
    font-size: 14px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.buy-item-btn {
    display: block;
    width: 260px;
    min-height: 40px;
    border-radius: 6px;
    background-color: #fff;
    border: 2px solid transparent;
    outline-style: none;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    color: #445161;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;   
    cursor: pointer;
}

.buy-item-btn-txt {
    margin: auto;
}

.buy-item-btn:hover {
    border: 2px solid #fff;
    background-color: #445161;
    color: #fff;
}

.buy-item-btn:active {
    border: 2px solid transparent;
    background-color: #fff;
    color: #445161;
}

/* footer */

.page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #445161;
    color: #fff;
  }
  
  .page-footer-heading {
      width: 100%;
      margin: 0 0 30px 0;
      color: #fff;
  }
  
  .page-footer-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 500px;
      margin: 0 45px 0 0;
  }
  
  .page-footer-form-item {
      width: 100%;
      height: 40px;
      padding: 10px;
      margin: 0 0 20px 0;
      background-color: #fff;
      border: 2px solid transparent;
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
  }
  
  .page-footer-form-item:hover,
  .page-footer-form-item:focus {
      background-color: #ebebeb;
  }
  
  .page-footer-form-item-name {
      text-transform: capitalize;
  }
  
  input[placeholder],
  textarea[placeholder] {
      font-size: 16px;
      color: #445162;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 24px;
  }
  
  .page-footer-form-textarea {
      height: 170px;
      resize: none;
  }
  
  .page-footer-form-btn {
      width: 140px;
      min-height: 40px;
      padding: 9px 4px;
      background-color: #fff;
      color: #445161;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      border: 2px solid transparent;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  .page-footer-form-btn:hover {
      border: 2px solid #fff;
      background-color: #445161;
      color: #fff;
  }
  
  .page-footer-form-btn:active {
      border: 2px solid transparent;
      background-color: #fff;
      color: #445161;
  }
  
  .page-footer-contacts {
      width: 245px;
      margin: 0;
  }
  
  .page-footer-contacts-link {
      display: block;
      font-size: 16px;
      line-height: 1.6;
      margin: 0 0 17px 0;
      padding: 0 0 0 30px;
      position: relative;
  }

  .page-footer-contacts-link:last-of-type {
      margin: 0 0 31px 0;
  }
  
  .page-footer-contacts-link:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
  }

  .link-skype:before {
      background-image: url(../img/skype-icon.png);  
  }

  .link-icq:before {
    background-image: url(../img/icq-icon.png);  
}

.link-email:before {
    background-image: url(../img/email-icon.png);  
}

.link-phone:before {
    background-image: url(../img/phone-icon.png);  
}

.page-footer-contscts-icons {
    display: flex;
    justify-content: space-between;
}

.page-footer-contscts-icon {
    display: block;
    width: 42px;
    height: 42px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-twitter {
    background-image: url(../img/twitter-icon.png);
}

.icon-fb {
    background-image: url(../img/fb-icon.png);
}

.icon-lin {
    background-image: url(../img/linkedin-icon.png);
}

.icon-google {
    background-image: url(../img/google-icon.png);
}

.icon-youtube {
    background-image: url(../img/youtube-icon.png);
}

.footer-copyright {
    width: 100%;
    text-align: center;
    color: #445161;
}

.footer-copyright-text {
    margin: 7px 0;
    font-size: 12px;
}

  
