@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-regular.woff2') format('woff2'),
        url('../fonts/raleway-regular.woff') format('woff'),
        url('../fonts/raleway-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium.eot');
    src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-medium.woff2') format('woff2'),
        url('../fonts/raleway-medium.woff') format('woff'),
        url('../fonts/raleway-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-semibold.woff2') format('woff2'),
        url('../fonts/raleway-semibold.woff') format('woff'),
        url('../fonts/raleway-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extrabold.eot');
    src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway-extrabold.woff') format('woff'),
        url('../fonts/raleway-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-light.eot');
    src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat-light.woff') format('woff'),
        url('../fonts/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-extralight.eot');
    src: url('../fonts/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extralight.woff2') format('woff2'),
         url('../fonts/montserrat-extralight.woff') format('woff'),
         url('../fonts/montserrat-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular.woff2') format('woff2'),
        url('../fonts/roboto-regular.woff') format('woff'),
        url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@keyframes anim {
    40% {transform:translateY(0%);}
    60% {transform:translateY(-15%);}
    70% {transform:translateY(0%);}
    85% {transform:translateY(-7%);}
    92% {transform:translateY(0%);}
    99% {transform:translateY(-3%);}
    100% {transform:translateY(0);}
}

@keyframes appearing {
    0% {
        opacity: 0;
        transform:translateX(-100%) translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

body {
    margin: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
    font-family: 'montserrat', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.padding-site {
    padding: 0 374px 0 374px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'raleway', arial, sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #998675;
}

.button:hover {
    animation: anim 1s ease infinite;
}

.button:active {
    background-color: #fff;
    color: #998675;
}

.title {
    font-family: 'raleway', arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #555555;
    text-transform: capitalize;
}

/* header */

.main-header {
    width: 100%;
    min-height: 1024px;
    background-image: url(../img/bg-photo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 40px 0 40px 0;
    box-sizing: border-box;
    position: relative;
}

.main-header-top-wrp {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 183px;
    text-decoration: none;
    color: #fff;
    transition: color 0.4s ease;
}

.logo-svg {
    fill: currentColor;
}

.logo-text {
    font-family: 'raleway', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    text-align: right;
    text-transform: capitalize;
}

.logo:hover {
    color: #bfab94;
}

.logo:active {
    color: #fff;
}

.main-header-menu {
    display: flex;
    align-items: center;
}

.main-header-menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-menu-item {
    display: flex;
    align-content: center;
}

.main-header-menu-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.4s ease;
    padding: 12px;
    box-sizing: border-box;
}

.main-header-basket {
    margin: 0 24px 0 48px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: color 0.4s ease;
}

.basket-svg {
    fill: currentColor;
}

.main-header-search {
    width: 24px;
    height: 24px;
    position: relative;
}

.main-header-search-label {
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.4s ease;
}

.main-header-search-input {
    width: 0;
    min-height: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 36px;
    left: 0;
}

.main-header-search-input:focus {
    width: 244px;
    min-height: 24px;
    transition: width 1s ease;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'montserrat', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.search-icon-svg {
    fill: currentColor;
    cursor: pointer;
}

.main-header-menu-link:hover,
.main-header-basket:hover,
.main-header-search:hover {
    color: #bfab94;
}

.main-header-menu-link:active,
.main-header-basket:active,
.main-header-search:active {
    color: #fff;
}

.main-header-slider {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header-slider-content {
    width: 45%;
    text-align: center;
}

.main-header-slider-subtitle,
.main-header-slider-title {
    display: block;
    font-family: 'raleway', arial, sans-serif;
    font-style: normal;
}

.main-header-slider-subtitle {
    font-size: 36px;
    font-weight: 500;
}

.main-header-slider-title {
    font-size: 52px;
    font-weight: 800;
    letter-spacing: 3px;
    margin: 10px 0 20px 0;
}

.main-header-slider-text {
    margin: 0;
    line-height: 24px;
    margin: 0 0 46px 0;
    box-sizing: border-box;
}

.main-header-slider-button {
    width: 170px;
    height: 52px;
    margin: 0 auto;
}

.main-header-slider-left-arrow,
.main-header-slider-right-arrow {
    display: block;
    width: 40px;
    height: 73px;
    opacity: 0.502;
    color: #a4a4a1;
}

.left-arrow-svg,
.right-arrow-svg {
    fill: currentColor;
}

.left-arrow-svg:hover,
.right-arrow-svg:hover {
    fill: #c7b299;
}

.left-arrow-svg:active,
.right-arrow-svg:active {
    fill: #fff;
}

.main-header-slider-pagination {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

.main-header-slider-pagination-item {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #979594;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 5px;
    transition: transform 0.4s ease;
}

.main-header-slider-pagination-item:hover {
    background-color: transparent;
    border: 2px solid #c7b299;
    transform: scale(1.2);
}

.main-header-slider-pagination-item:active {
    border: 2px solid #fff;
}

.header-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 365px;
    left: 30px;
}

.header-social-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    animation: anim 1.5s ease infinite;
    cursor: pointer;
}

.header-social-btn:hover .header-social-btn-svg {
    fill: #bfab94;
    transform: scale(1.2);
}

.header-social-btn:active .header-social-btn-svg {
    fill: #fff;
}

input[type="checkbox"] {
    display: none;
}

.header-social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.header-social-link {
    text-decoration: none;
    display: block;
    margin: 20px;
    box-sizing: border-box;
    transition: transform 0.4s ease;
}

.header-social-icon-svg,
.header-social-btn-svg {
    fill: #fff;
    transition: fill 0.4s ease, 
                transform 0.4s ease;
}

.header-social-link:hover .header-social-icon-svg {
    transform: scale(1.2);
    fill: #bfab94;
}

.header-social-link:active .header-social-icon-svg {
    fill: #fff;
}

input[type="checkbox"]:checked ~ .header-social-list {
    visibility: visible;
    animation: appearing 1.5s ease;
}

input[type="checkbox"]:checked ~ label {
    animation: none;
}

/* features section */

.features {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 70px 0;
    box-sizing: border-box;
}

.features-item {
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.features-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    transition: background-color 0.4s ease;
}

.features-item-icon {
    display: block;
    height: 64px;
    fill: #555555;
    transition: fill 0.4s ease;
}

.features-item-title {
    display: block;
    width: 100%;
    font-family: 'raleway', arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #555555;
    margin: 0 0 15px 0;
    transition: color 0.4s ease;
}

.features-item-text {
    font-family: 'montserrat', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
    margin: 0 0 20px 0;
}

.features-item:hover .features-item-icon {
    fill: #c7b299;
}

.features-item:hover .features-item-title {
    color: #c7b299;
}

.features-item:hover:after {
    background-color: #c7b299;
}

/* realization section */

.realization {
    background-color: #fbfaf8;
    text-align: center;
    padding: 80px 0 0 0;
    box-sizing: border-box;
}

.realization-wrp {
    width: 1230px;
    min-height: 640px;
    margin: 0 auto;
    background-image: url('../img/browser-center.jpg'),
        url('../img/browser-left.jpg'),
        url('../img/browser-right.jpg');
    background-size: 65%, 65%, 65%;
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
}

.realization-title {
    display: block;
    margin: 0 0 20px 0;
}

.realization-text {
    width: 770px;
    line-height: 28px;
    padding: 0 0 36px 0;
    color: #8c8c8c;
    margin: 0 auto;
}

/* purchase aside */

.purchase {
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 374px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
}

.purchase-title {
    display: block;
    font-family: 'raleway', arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.purchase-title-waxom {
    color: #c7b299;
}

.purchase-text {
    font-size: 18px;
    color: #615855;
    margin: 8px 0 0 0;
    box-sizing: border-box;
}

.purchase-button {
    width: 170px;
    height: 50px;
}

/* projects section */

.projects {
    margin: 80px 0 76px 0;
    text-align: center;
    box-sizing: border-box;
}

.projects-title {
    display: block;
    margin: 0 0 20px 0;
}

.projects-text {
    padding: 0 224px;
    margin: 0 0 35px 0;
    box-sizing: border-box;
    color: #8c8c8c;
    line-height: 28px;
}

.projects-menu {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.projects-menu-item {
    display: block;
    padding: 7px 20px;
    margin: 0 6px;
    text-transform: capitalize;
    outline: none;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'montserrat', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #8c8c8c;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.projects-menu-item:hover {
    background-color: #998675;
    border: 1px solid #998675;
    color: #fff;
}

.projects-menu-item:active {
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
}

.project-items-wrp {
    min-height: 706px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.projects-item {
    position: relative;
    cursor: pointer;
}

.projects-item-img {
    display: flex;
}

.projects-item-content {
    padding: 25px;
    background-color: #fbfaf8;
    position: relative;
}

.projects-item-content:before {
    content: "";
    display: block;
    border: 15px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    top: -30px;
    left: 20px;
    box-sizing: border-box;
}

.projects-item-content-title,
.projects-item-content-subtitle {
    display: block;
    text-align: left;
}

.projects-item-content-title {
    font-family: 'raleway', arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #c7b299;
    margin: 0 0 8px 0;
    box-sizing: border-box;
}

.projects-item-content-subtitle {
    font-size: 14px;
    color: #d1d1d1;
}

.projects-item-more-btn,
.projects-item-magnifier {
    display: none;
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 100px;
    cursor: pointer;
}

.projects-item-more-btn {
    left: 140px;
}

.projects-item-magnifier {
    left: 200px;
}

.link-svg,
.magnifier-svg {
    fill: #fff;
}

.projects-item:hover .projects-item-img {
    filter: brightness(50%);
}

.projects-item:hover .projects-item-content {
    background-color: #362f2d;
}

.projects-item:hover .projects-item-content:before {
    border-bottom: 15px solid #362f2d;
}

.projects-item:hover .projects-item-content-title {
    color: #fff;
}

.projects-item:hover .projects-item-content-subtitle {
    color: #c7b299;
}

.projects-item:hover .projects-item-more-btn {
    display: block;
}

.projects-item:hover .projects-item-magnifier {
    display: block;
}

.projects-item:hover .magnifier-svg:hover {
    fill: #bfab94;
}

.projects-item:hover .link-svg:hover {
    fill: #bfab94;
}

.projects-item:hover .magnifier-svg:active {
    fill: #fff;
}

.projects-item:hover .link-svg:active {
    fill: #fff;
}


.projects-load-more-btn {
    width: 170px;
    height: 50px;
    border: none;
    outline: none;
    margin: 40px auto 80px auto;
    cursor: pointer;
}

/* video section */

.video {
    width: 1920px;
    min-height: 705px;
    position: relative;
    display: flex;
}

.bg-video {
    width: 100%;
    object-fit: cover;
    outline: none;
}

.video-content {
    width: 570px;
    position: absolute;
    top: 206px;
    left: 680px;
    text-align: center;
    color: #fff;
}

.video-play-btn {
    margin: 0 auto;
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.video-play-btn-svg {
    margin: auto;
    fill: #fff;
    transition: fill 0.4s ease;
}

.video-play-btn-svg:hover {
    fill: #bfab94;
}

.video-play-btn-svg:active {
    fill: #fff;
}

.video-content-title {
    display: block;
    color: #fff;
    margin: 40px 0 20px 0;
    box-sizing: border-box;
}

.video-content-text {
    line-height: 28px;
    margin: 0 0 30px 0;
}

.video-content-time {
    font-size: 14px;
    color: #c7b299;
    font-family: 'montserrat', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* mobile devices section */

.mobile-devices {
    background-color: #fbfaf8;
    display: flex;
    justify-content: space-between;
}

.mobile-devices-img {
    padding: 70px 0 0 0;
    display: flex;
}

.mobile-devices-figure {
    margin: 0;
}

.mobile-devices-content {
    padding: 180px 0 0 40px;
    box-sizing: border-box;
}

.mobile-devices-title {
    display: block;
    margin: 0 0 26px 0;
    box-sizing: border-box;
}

.mobile-devices-text {
    color: #8c8c8c;
    line-height: 28px;
    margin: 0 0 28px 0;
}

.mobile-devices-info-item-title {
    outline: none;
    line-height: 32px;
    color: #8c8c8c;
    position: relative;
    cursor: pointer;
}

.mobile-devices-info-item-text {
    margin: 2px 0;
}

.mobile-devices-info-item-title:hover .mobile-devices-info-icon {
    fill: #998675;
}

.mobile-devices-info-item {
    margin: 0 0 0 50px;
    box-sizing: border-box;
}

details summary::-webkit-details-marker {
    display: none;
}

.mobile-devices-info-icon {
    width: 21px;
    height: 21px;
    fill: #c7b299;
    position: absolute;
    top: 5px;
    left: -28px;
    transition: all 0.4s ease;
}


details[open] .right-arrow-icon {
    transform: rotate(90deg);
    fill: #998675;
}

/* statistics section */

.statistics {
    padding: 68px 0 60px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
}

.statistics-item {
    width: 185px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.statistics-item-icon {
    margin: 0 auto;
    fill: #c7b299;
}

.statistics-item-number {
    display: block;
    width: 100%;
    font-family: 'montserrat', arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    margin: 22px 0 12px 0;
    box-sizing: border-box;
}

.statistics-item-subtitle {
    display: block;
    width: 100%;
    padding: 0 0 26px 0;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    color: #c7b299;
}

.statistics-item:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
}

/* posts section */

.posts {
    text-align: center;
}

.posts-title {
    display: block;
    margin: 80px 0 20px 0;
    box-sizing: border-box;
}

.posts-text {
    width: 730px;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    color: #8c8c8c;
    line-height: 28px;
}

.posts-items-wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px 0;
    box-sizing: border-box;
}

.posts-item {
    width: 370px;
    position: relative;
}

.posts-item-img {
    display: flex;
}

.post-item-calendar {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
}

.post-calendar-date {
    display: block;
    padding: 6px 0;
    box-sizing: border-box;
    font-family: 'montserrat', arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    background-color: #363636;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.post-calendar-month {
    display: flex;
    display: block;
    padding: 5px 0;
    box-sizing: border-box;
    font-family: 'roboto', verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    background-color: #252525;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.post-item-content {
    padding: 28px 28px 30px 28px;
    text-align: left;
    border: 1px solid #f8f8f8;
    border-top: 1px solid transparent;
    box-sizing: border-box;
}

.posts-item-title {
    font-weight: 500;
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 18px 0;
    box-sizing: border-box;
}

.posts-item-text {
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.read-more-link {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    transition: color 0.4s ease;
}

.posts-item-link {
    color: #c7b299;
}

.read-more-link:after {
    content: "";
    display: block;
    border: 4px solid transparent;
    border-left: 4px solid #c7b299;
    position: absolute;
    top: 2px;
    left: 84px;
    transition: color 0.4s ease;
}

.posts-item:hover .posts-item-img {
    filter: brightness(50%);
}

.posts-item:hover .post-calendar-date {
    background-color: #c7b299;
}

.posts-item:hover .post-calendar-month {
    background-color: #a48d72;
}

.posts-item:hover .post-item-content {
    background-color: #362f2d;
    border: 1px solid #362f2d;
    box-sizing: border-box;
}

.posts-item:hover .posts-item-title {
    color: #bda992;
}

.posts-item:hover .posts-item-text {
    color: #fff;
}

.read-more-link:hover {
    color: #fff;
}

.read-more-link:hover:after {
    border-left: 4px solid #fff;
}

.read-more-link:active {
    color: #c7b299;
}

.read-more-link:active:after {
    border-left: 4px solid #c7b299;
}

.posts-btn {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0 3px 78px 3px;
}

.posts-btn-svg {
    fill: #d1d1d1;
}

.posts-btn-svg:hover {
    fill: #c7b299;
}

.posts-btn-svg:active {
    fill: #d1d1d1;
}

.posts-load-more-btn {
    display: none;
}


/* partners section */

.partners {
    width: 100%;
    min-height: 489px;
    background-image: url(../img/partners-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-logo {
    margin: 35px;
    box-sizing: border-box;
    transition: transform 0.5s;
}

.partners-logo:hover {
    transform: scale(1.1);
}

/* footer */

.main-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-info {
    width: 100%;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.footer-info-waxom {
    width: 270px;
    margin: 78px 0 0 0;
    box-sizing: border-box;
}

.footer-info-waxom-text {
    margin: 20px 0 26px 0;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
}

.footer-info-waxom-link {
    color: #fff;
}

.footer-info-waxom-link:after {
    content: "";
    display: block;
    border: 4px solid transparent;
    border-left: 4px solid #fff;
}

.footer-info-waxom-link:hover {
    color: #bfab94;
}

.footer-info-waxom-link:hover:after {
    border-left: 4px solid #bfab94;
}

.footer-info-waxom-link:active {
    color: #fff;
}

.footer-info-waxom-link:active:after {
    border-left: 4px solid #fff;
}

.footer-posts {
    width: 270px;
    margin: 106px 0 0 0;
    box-sizing: border-box;
}

.footer-posts-title {
    display: block;
    color: #fff;
    font-size: 24px;
}

.posts-wrp {
    margin: 22px 0;
    padding: 0 0 22px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}

.footer-posts-date {
    display: block;
    line-height: 24px;
    color: #555555;
    font-size: 12px;
    transition: color 0.4s ease;
}

.footer-posts-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
}

.posts-wrp:last-child {
    border: none;
    padding: 0;
}

.footer-posts-text {
    margin: 0;
    transition: color 0.4s ease;
}

.posts-wrp:hover .footer-posts-text {
    color: #c7b299;
}

.posts-wrp:hover .footer-posts-date {
    color: #fff;
}

.footer-twitter {
    width: 270px;
    margin: 106px 0 0 0;
    box-sizing: border-box;
}

.footer-twitter-title {
    display: block;
    color: #fff;
    font-size: 24px;
}

.footer-twitter-link {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    padding: 22px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}

.footer-twitter-link:last-child {
    border: none;
    padding: 22px 0 0 0;
}

.footer-twitter-text {
    margin: 0;
    transition: color 0.4s ease;
}

.footer-twitter-time {
    font-size: 12px;
    transition: color 0.4s ease;
}

.footer-twitter-span {
    color: #00bff3;
}

.footer-twitter-span-data {
    color: #959595;
}

.footer-twitter-link:hover .footer-twitter-text {
    color: #c7b299;
}

.footer-twitter-link:hover .footer-twitter-time {
    color: #fff;
}

.footer-dribbble {
    width: 270px;
    margin: 106px 0 0 0;
    box-sizing: border-box;
}

.footer-dribbble-wrp {
    min-height: 205px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.footer-dribbble-title {
    display: block;
    color: #fff;
    font-size: 24px;
    margin: 0 0 22px 0;
}

.footer-dribbble-link {
    display: block;
    width: 130px;
    height: 98px;
}

.footer-dribbble-img {
    transition: transform 0.5s;
}

.footer-dribbble-img:hover {
    transform: scale(1.05);
}

.footer-copyright {
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.footer-copyright-list {
    list-style: none;
    margin: 0;
    padding: 45px 0;
    box-sizing: border-box;
    display: flex;
}

.footer-copyright-list-item {
    padding: 0 12px;
    box-sizing: border-box;
    border-right: 1px solid rgba(85, 85, 85, 0.2);
}

.footer-copyright-link {
    color: #555555;
    text-decoration: none;
    transition: color 0.4s ease;
}

.footer-copyright-link:hover {
    color: #c7b299;
}

.footer-copyright-list-item:first-child {
    padding-left: 0;
}

.footer-copyright-list-item:last-child {
    padding-right: 0;
    border: none;
}

.footer-copyright-span {
    color: #959595;
}


@media (max-width: 480px) {
    .container {
        width: 100%;
        margin: 0;
        font-size: 14px;
    }
    .title {
        font-size: 24px;
    }
    .button {
        font-weight: 600;
        font-size: 12px;
        animation: anim 1.5s ease infinite;
    }

    .main-header {
        width: 100%;
        min-height: auto;
        background-size: cover;
        padding: 0;
    }
    .main-header-top-wrp {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }
    .logo {
        width: 100%;
        justify-content: start;
    }
    .main-header-menu {
        width: 100%;
    }
    .main-header-menu-list {
        flex-direction: column;
        width: 100%;
        text-align: center;
        visibility: hidden;
        height: 0;
    }
    .main-header-menu-item {
        width: 100%;
        margin: 4px 0 0 0;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .main-header-menu-item:first-child {
        margin: 20px 0 0 0;
    }
    .main-header-menu-link {
        padding: 14px;
        font-size: 16px;
    }
    .main-header-menu-link:active {
        background-color: rgba(255, 255, 255, 0.4);
    }
    .burger-menu-input:checked ~ .main-header-menu-list {
        height: auto;
        visibility: visible;
    }
    .burger-menu-input:checked ~ .burger-menu-label > .burger-menu-line {
        top: 15px;
        transform: rotate(45deg);
    }
    .burger-menu-input:checked ~ .burger-menu-label > .burger-menu-line:before {
        top: 0;
        transform: rotate(0);
    }
    .burger-menu-input:checked ~ .burger-menu-label > .burger-menu-line:after {
        top: 0;
        transform: rotate(90deg);
    }
    .burger-menu-label {
        display: block;
        position: absolute;
        top: 38px;
        left: 430px;
        width: 30px;
        height: 30px;
    }
    .burger-menu-line,
    .burger-menu-line:after,
    .burger-menu-line:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: .3s ease;
    }
    .burger-menu-line:before {
        content: "";
        top: 14px;
    }
    .burger-menu-line:after {
        content: "";
        top: 28px;
    }
    .main-header-basket,
    .main-header-search {
        position: absolute;
        top: 37px;
        left: 280px;
    }
    .main-header-search-input {
        top: 36px;
        left: -68px;
    }
    .main-header-search-input:focus {
        width: 200px;
        background-color: #bfab94;
        border: none;
    }
    .main-header-slider {
        display: none;
    }
    .main-header-slider-pagination {
        display: none;
    }
    .header-social {
        display: none;
    }
    .features {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .features-item {
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }
    .features-item-icon {
        height: 60px;
    }
    .features-item-title {
        font-size: 18px;
    }

    .realization {
        padding: 20px 20px 0 20px;
    }
    .realization-wrp {
        width: 100%;
        min-height: auto;
        margin: 0;
        background-size: 60%, 60%, 60%;
        background-position: bottom center, bottom left, bottom right;
    }
    .realization-title {
        width: 70%;
        margin: 0 auto 10px auto;
    }
    .realization-text {
        width: 90%;
        line-height: 24px;
        padding: 0 0 185px 0;
    }

    .purchase {
        min-height: auto;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }
    .purchase-title {
        font-size: 20px;
    }
    .purchase-text {
        font-size: 16px;
        color: #615855;
        margin: 8px 0 20px 0;
        box-sizing: border-box;
    }
    .purchase-button {
        width: auto;
        height: auto;
        padding: 14px;
        margin: 10px 0 10px 0;
    }

    .projects {
        margin: 0;
        padding: 20px;
        position: relative;
    }
    .projects-title {
        margin: 0 0 10px 0;
    }
    .projects-text {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        line-height: 24px;
    }
    .projects-menu {
        flex-direction: column;
        margin: 60px 0 0 0;
        box-sizing: border-box;
        visibility: hidden;
        height: 0;
    }
    .projects-menu-item {
        display: block;
        padding: 14px;
        margin: 4px 0 0 0;
        border: 1px solid transparent;
        font-size: 16px;
        background-color: rgba(198, 178, 154, .3)
    }
    .projects-menu-item:first-child {
        margin: 14px 0 0 0;
    }
    .projects-menu-item:last-child {
        margin: 4px 0 10px 0;
    }
    .burger-menu-projects-input:checked ~ .projects-menu {
        height: auto;
        visibility: visible;
    }
    .burger-menu-projects-input:checked ~ .burger-menu-projects-label > .burger-menu-projects-line {
        top: 15px;
        transform: rotate(45deg);
    }
    .burger-menu-projects-input:checked ~ .burger-menu-projects-label > .burger-menu-projects-line:before {
        top: 0;
        transform: rotate(0);
    }
    .burger-menu-projects-input:checked ~ .burger-menu-projects-label > .burger-menu-projects-line:after {
        top: 0;
        transform: rotate(90deg);
    }
    .burger-menu-projects-label {
        display: block;
        position: absolute;
        top: 148px;
        left: 225px;
        width: 30px;
        height: 30px;
    }
    .burger-menu-projects-line,
    .burger-menu-projects-line:after,
    .burger-menu-projects-line:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #bfab94;
        transition: .3s ease;
    }
    .burger-menu-projects-line:before {
        content: "";
        top: 14px;
    }
    .burger-menu-projects-line:after {
        content: "";
        top: 28px;
    }
    .project-items-wrp {
        min-height: auto;
        justify-content: center;
    }
    .projects-item {
        margin: 20px;
        box-sizing: border-box;
    }
    .projects-item:nth-child(5),
    .projects-item:nth-child(6) {
        display: none;
    }
    .projects-load-more-btn {
        width: auto;
        height: auto;
        padding: 14px;
        margin: 10px auto;
    }

    .video {
        display: none;
    }

    .mobile-devices {
        width: 100%;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
        background-image: url(../img/hand.png);
        background-position: 20px bottom;
        background-repeat: no-repeat;
        background-size: 40%;
    }
    .mobile-devices-figure {
        display: none;
    }
    .mobile-devices-content {
        padding: 0;
    }
    .mobile-devices-title {
        margin: 0 0 10px 0;
        text-align: center;
    }
    .mobile-devices-text {
        line-height: 24px;
        margin: 0 0 10px 0;
        text-align: center;
    }
    .mobile-devices-info-item {
        margin: 0 0 10px 220px;
    }
    .mobile-devices-info-item:last-child {
        margin: 0 0 54px 220px;
    }
    .mobile-devices-info-item-title {
        line-height: 20px;
    }

    .statistics {
        display: none;
    }

    .posts {
        height: auto;
        padding: 20px;
    }
    .posts-title {
        margin: 0 0 10px 0;
        box-sizing: border-box;
    }
    .posts-text {
        width: 90%;
        margin: 0 auto;
        line-height: 24px;
    }
    .posts-items-wrp {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .posts-item {
        width: 100%;
        margin: 20px;
    }
    .posts-item-img {
        width: 100%;
    }
    .posts-item-title {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    .posts-btn {
        display: none;
    }
    .posts-load-more-btn {
        display: block;
        width: auto;
        height: auto;
        padding: 14px;
        margin: 10px auto;
        border: none;
        outline: none;
    }

    .partners {
        padding: 20px;
        min-height: auto;
        background-image: url(../img/partners-bg.jpg);
        background-size: cover;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        box-sizing: border-box;
    }
    .partrers-link {
        display: block;
        width: 40%;
        height: auto;
        margin: 20px;
    }
    .partners-logo {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .footer-info {
        padding: 20px;
    }
    .logo-footer {
        margin: 0 auto;
    }
    .footer-info-waxom {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .footer-posts,
    .footer-twitter,
    .footer-dribbble {
        display: none;
    }
    .footer-info-waxom-text {
        margin: 15px 0;
    }
    .footer-copyright {
        padding: 20px;
        flex-direction: column;
    }
    .footer-copyright-list {
        padding: 15px 0;
        justify-content: center;
    }
}